<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectManagement.Properties.Settings.DatabaseDataEntryBPOConnectionString"
            connectionString="Data Source=10.10.10.248\BPOSERVER;Initial Catalog=DatabaseDataEntryBPO;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>